$font-stack: Helvetica, sans-serif
$primary-color: #000
$bg-color: #F4F0F0

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font: 16px $font-stack

a
    text-decoration: none
    color: $primary-color

ul
    list-style: none

body
    color: $primary-color
    background: $bg-color
    display: flex
    justify-content: space-between
    height: 100vh

    #expandable
        width: 100vw
        height: 100vh
        text-align: center
        position: fixed
        font-size: 5vw
        transform-origin: center top

    header
        font-weight: 400
        padding: 4vh 0 4vh 3vw

        nav
            margin-top: 13rem
            font-size: 0.7rem

            li
                margin-bottom: 2.5rem

                .label
                    font-size: 1.1rem

                a:hover
                    text-decoration: underline

                a:hover .label:after
                    content: attr(after)

                .label:after
                    content: attr(before)

    h1
        font-size: 3.5rem
        font-weight: 700
        line-height: 4rem

    h2
        font-weight: 400
        font-size: 2.5rem

    h3
        font-weight: 300
        font-size: 2.2rem

    h4
        font-weight: 300
        font-size: 1.6rem

    p, span
        font-weight: 300
        font-size: 1.1rem
        line-height: 2.1rem

    strong, .label
        font-weight: 400

    section
        margin-top: 9rem
        margin-bottom: 30vh

    .link
        text-decoration: underline

    .content
        width: 60vw
        padding: 4vh 3vw 4vh 0
        overflow: auto
        scroll-behavior: smooth

        section
            p
                text-align: justify
                margin-bottom: 2rem

            h2
                margin-bottom: 4rem

        #intro
            margin-bottom: 70vh

            h4
                margin-top: 3.5rem

        #about, #contact
            width: 70%
            padding-top: 8rem

        #projects
            width: 100%
            padding-top: 8rem

            .project
                display: flex
                justify-content: space-between
                margin-bottom: 8rem

                img
                    width: 60%
                    max-width: 100%
                    height: auto

                .project-info
                    width: 35%
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    .p-link
                        margin: 0

                .project-roles
                    flex-grow: 3

                    p
                        font-size: 0.9rem
                        margin: 0
                        line-height: 1.2rem

        #contact
            .contacts
                p
                    margin: 0

                    a
                        margin-left: 0.7rem
                        font-size: 0.9rem

                p:hover
                    a
                        text-decoration: underline

                p:hover .label:after
                    content: attr(after)

                .label:after
                    content: attr(before)

            .socials
                margin-top: 2rem
                p
                    margin: 0
