$font-stack: Helvetica, sans-serif
$primary-color: #000
$bg-color: #F4F0F0

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font: 16px $font-stack

a
    text-decoration: none
    color: $primary-color

ul
    list-style: none

body
    color: $primary-color
    background: $bg-color
    display: flex
    justify-content: space-between
    height: 100vh

    header
        font-weight: 400
        padding: 4vh 0 4vh 3vw

        nav
            margin-top: 13rem
            font-size: 0.7rem

            li
                margin-bottom: 2.5rem
                width: fit-content

                a
                    font-size: 1.1rem
                    padding: 0.5rem 0

                a:before
                    content: '_'

                a:hover:before
                    content: ''

                a:after
                    content: ''
                    width: 0px
                    height: 1px
                    display: block
                    background: black
                    margin-top: -0.17rem
                    transition: 400ms

                a:hover:after
                    width: 100%

            li:nth-child(1)
                animation: slideRight ease 1s forwards
                animation-delay: 3s
                opacity: 0

            li:nth-child(2)
                animation: slideRight ease 1s forwards
                animation-delay: 3.1s
                opacity: 0

            li:nth-child(3)
                animation: slideRight ease 1s forwards
                animation-delay: 3.2s
                opacity: 0

    h1
        font-size: 3.5rem
        font-weight: 700
        line-height: 4rem
        animation: slideRight ease 1s forwards
        animation-delay: 0s
        opacity: 0

    h2
        font-weight: 400
        font-size: 2.5rem

    h3
        font-weight: 300
        font-size: 2.2rem

    h4
        font-weight: 300
        font-size: 1.6rem

    p, span
        font-weight: 300
        font-size: 1.1rem
        line-height: 2.1rem

    strong, .label
        font-weight: 400

    section
        //margin-top: 9rem
        margin-bottom: 30vh

    .link
        width: fit-content
        display: block

    .link:after
        content: ''
        width: 100%
        height: 1px
        display: block
        background: black
        margin-top: -0.6rem
        transition: 400ms

    .link:hover:after
        width: 0px

    .content
        width: 60vw
        padding: 4vh 3vw 4vh 0
        overflow: auto
        scroll-behavior: smooth

        @keyframes slideRight
            0%
                transform: translateX(-10%)

            100%
                transform: translateX(0)
                opacity: 1

        section
            p
                text-align: justify
                margin-bottom: 2rem

            h2
                margin-bottom: 4rem

        #intro
            margin-top: 9rem
            margin-bottom: 70vh

            h1
                width: 27rem
                font-weight: 200
                animation: slideRight ease 1s forwards
                animation-delay: 1s
                opacity: 0

            h2
                font-weight: 200
                margin: 3.5rem 0 0 10rem
                animation: slideRight ease 1s forwards
                animation-delay: 2s
                opacity: 0

        #about, #contact
            width: 70%
            padding-top: 5rem

        #projects
            width: 100%
            padding-top: 5rem

            .project
                display: flex
                justify-content: space-between
                margin-bottom: 8rem

                img
                    width: 60%
                    max-width: 100%
                    height: auto

                .project-info
                    width: 35%
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    .p-link
                        margin: 0

                .project-roles
                    flex-grow: 3

                    p
                        font-size: 0.9rem
                        margin: 0
                        line-height: 1.2rem

        #contact
            .contacts

                p:hover:before
                    content: ''

                p:before
                    content: '_'

                p
                    margin: 0
                    width: fit-content
                    pointer-events: none

                    a
                        margin-left: 0.7rem
                        font-size: 0.9rem
                        width: fit-content
                        display: inline-block
                        pointer-events: auto

                    a:after
                        content: ''
                        width: 0px
                        height: 1px
                        display: block
                        background: black
                        margin-top: -0.7rem
                        transition: 400ms

                    a:hover:after
                        width: 100%

            .socials
                margin-top: 2rem
                p
                    margin: 0
