* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

body {
  color: #000;
  background: #F4F0F0;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
body #expandable {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  font-size: 5vw;
  transform-origin: center top;
}
body header {
  font-weight: 400;
  padding: 4vh 0 4vh 3vw;
}
body header nav {
  margin-top: 13rem;
  font-size: 0.7rem;
}
body header nav li {
  margin-bottom: 2.5rem;
  width: fit-content;
}
body header nav li a {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
body header nav li a:before {
  content: "_";
}
body header nav li a:hover:before, body header nav li a:active {
  content: "";
}
body header nav li a:after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  margin-top: -0.17rem;
  transition: 400ms;
}
body header nav li a:hover:after, body header nav li a:active {
  width: 100%;
}
body h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}
body h2 {
  font-weight: 400;
  font-size: 2.5rem;
}
body h3 {
  font-weight: 300;
  font-size: 2.2rem;
}
body h4 {
  font-weight: 300;
  font-size: 1.6rem;
}
body p, body span {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2.1rem;
}
body strong, body .label {
  font-weight: 400;
}
body section {
  margin-top: 9rem;
  margin-bottom: 30vh;
}
body .link {
  text-decoration: underline;
}
body .content {
  width: 60vw;
  padding: 4vh 3vw 4vh 0;
  overflow: auto;
  scroll-behavior: smooth;
}
body .content section p {
  text-align: justify;
  margin-bottom: 2rem;
}
body .content section h2 {
  margin-bottom: 4rem;
}
body .content #intro {
  margin-bottom: 70vh;
}
body .content #intro h4 {
  margin-top: 3.5rem;
}
body .content #about, body .content #contact {
  width: 70%;
  padding-top: 8rem;
}
body .content #projects {
  width: 100%;
  padding-top: 8rem;
}
body .content #projects .project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
body .content #projects .project img {
  width: 60%;
  max-width: 100%;
  height: auto;
}
body .content #projects .project .project-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .content #projects .project .project-info .p-link {
  margin: 0;
}
body .content #projects .project .project-roles {
  flex-grow: 3;
}
body .content #projects .project .project-roles p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.2rem;
}
body .content #contact .contacts p {
  margin: 0;
}
body .content #contact .contacts p a {
  margin-left: 0.7rem;
  font-size: 0.9rem;
}
body .content #contact .contacts p:hover a {
  text-decoration: underline;
}
body .content #contact .contacts p:hover .label:after {
  content: attr(after);
}
body .content #contact .contacts .label:after {
  content: attr(before);
}
body .content #contact .socials {
  margin-top: 2rem;
}
body .content #contact .socials p {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
